auto-install-peers=false
dedupe-peer-dependents=true
hoist=true
hoist-workspace-packages=true
link-workspace-packages=true
prefer-workspace-packages=true
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
shared-workspace-lockfile=true
strict-peer-dependencies=false
